@import "tailwindcss";

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 100%;
}

body {
  overflow-x: hidden;
}

/* Animaciones */
.fade-up {
  opacity: 0;
  transform: translateY(40px);
  transition:
    opacity 0.7s ease-out,
    transform 0.7s ease-out;
  will-change: transform, opacity;
}

.fade-up.show {
  opacity: 1;
  transform: translateY(0);
}