@import "tailwindcss";

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 100%;
}

body {
  overflow-x: hidden;
}
/* fonts */
.font-cormorant {
  font-family: 'Cormorant Garamond', serif;
}

.font-playfair {
  font-family: 'Playfair Display', serif;
}

.font-great-vibes {
  font-family: 'Great Vibes', cursive;
}

/* Animaciones */
.fade-up {
  opacity: 0;
  transform: translateY(40px);
  transition:
    opacity 0.7s ease-out,
    transform 0.7s ease-out;
  will-change: transform, opacity;
}

.fade-up.show {
  opacity: 1;
  transform: translateY(0);
}

/* animaciones imagenes */
.fade-image {
  opacity: 0;
  filter: blur(8px);

  transition:
    opacity 1s ease-out,
    filter 1s ease-out;

  will-change: opacity, filter;
}

.fade-image.show {
  opacity: 1;
  filter: blur(0);
}

/* Zoom in Zoom out */
.zoom-suave {
  animation: zoomSuave 3s ease-in-out infinite;
  transform-origin: center center;
}

@keyframes zoomSuave {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.08);
  }

  100% {
    transform: scale(1);
  }
}