@import "tailwindcss";

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 100%;
}

body {
  overflow-x: hidden;
}
/* fonts */
.font-cormorant {
  font-family: 'Cormorant Garamond', serif;
}

.font-playfair {
  font-family: 'Playfair Display', serif;
}

.font-great-vibes {
  font-family: 'Great Vibes', cursive;
}

/* Animaciones */
.fade-up {
  opacity: 0;
  transform: translateY(40px);
  transition:
    opacity 0.7s ease-out,
    transform 0.7s ease-out;
  will-change: transform, opacity;
}

.fade-up.show {
  opacity: 1;
  transform: translateY(0);
}

/* animaciones imagenes */
.fade-image {
  opacity: 0;
  filter: blur(8px);

  transition:
    opacity 1s ease-out,
    filter 1s ease-out;

  will-change: opacity, filter;
}

.fade-image.show {
  opacity: 1;
  filter: blur(0);
}

/* Zoom in Zoom out */
.zoom-suave {
  animation: zoomSuave 3s ease-in-out infinite;
  transform-origin: center center;
}

@keyframes zoomSuave {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.08);
  }

  100% {
    transform: scale(1);
  }
}

/* SLIDE FOTOS */
.carousel-item {
  position: absolute;

  left: 50%;
  top: 50%;

  width: 320px;
  height: 420px;

  object-fit: cover;

  border-radius: 2rem;

  transform-style: preserve-3d;

  transition: all 0.8s ease;

  box-shadow:
    0 10px 30px rgba(0,0,0,.15);

  transform:
    translate(-50%, -50%)
    scale(.7);

  opacity: 0;
}

/* FOTO CENTRAL */
.carousel-item.active {
  transform:
    translate(-50%, -50%)
    scale(1);

  opacity: 1;

  z-index: 10;
}

/* FOTO IZQUIERDA */
.carousel-item.prev {
  transform:
    translate(-140%, -50%)
    scale(.8);

  opacity: .6;

  z-index: 5;
}

/* FOTO DERECHA */
.carousel-item.next {
  transform:
    translate(40%, -50%)
    scale(.8);

  opacity: .6;

  z-index: 5;
}

/* OCULTAS */
.carousel-item.hidden {
  opacity: 0;
  z-index: 1;
}

@media (max-width: 768px) {

  .carousel-item {
    width: 240px;
    height: 320px;
  }

  .carousel-item.prev {
    transform:
      translate(-115%, -50%)
      scale(.75);
  }

  .carousel-item.next {
    transform:
      translate(15%, -50%)
      scale(.75);
  }

}
.carousel-item {
  cursor: pointer;
}

#carousel {
  touch-action: pan-y;
}

/* ANIMACION DE CIRCULO */
.icon-circle{
  position: relative;
  width: 90px;
  height: 90px;
  min-width: 90px;
  min-height: 90px;
  border-radius: 9999px;
  background: #636C2E;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
}

.icon-circle::before{
  content: "";
  position: absolute;
  inset: -4px;
  border-radius: 9999px;
  border: 2px solid #636C2E;
  border-top-color: transparent;
  animation: spinRing 6s linear infinite;
}

@keyframes spinRing{
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

/* sombra texto */

.text-shadow-soft{
  text-shadow: 0 2px 8px rgba(0,0,0,.45);
}

.text-shadow-medium{
  text-shadow: 0 3px 12px rgba(0,0,0,.60);
}

.text-shadow-strong{
  text-shadow: 1px 2px 4px rgba(0, 0, 0, 1);
}

/* SCROOL SUAVE AL INICIO */
html {
  scroll-behavior: smooth;
}

/* darle movimiento a la flecha */
.arrow-up{
  animation: goUp 2s ease-in-out infinite;
}

@keyframes goUp{
  0%, 100%{
    transform: translateY(0);
  }

  50%{
    transform: translateY(-12px);
  }
}