@import "tailwindcss";

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 100%;
}

body {
  overflow-x: hidden;
}

/* Animaciones */
.fade-up {
  opacity: 0;
  transform: translateY(80px) scale(0.96);
  transition:
    opacity 1.2s ease-out,
    transform 1.2s ease-out;
}

.fade-up.show {
  opacity: 1;
  transform: translateY(0) scale(1);
}
